<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num13</string>
		<key>title</key>
		<string>海灵顿1969年出生于美国纽约长岛，其父为空手道教练，
㚻王：比利·海灵顿
㚻王：比利·海灵顿
海灵顿在未成年时就同其父学习空手道，所以成年后身材及肌肉锻炼的较为强壮。
海灵顿21岁时，其父过世。比利·海灵顿遂放弃了空手道，24岁时，海灵顿移居纽约城中，转向健美界发展。比利·海灵顿在健美界发展较为成功。
海灵顿真正开始他的㚻片演员生涯源于其朋友所做的一件事，他的朋友将他的一张照片送到了《花花女郎》杂志社，这张照片使得他获得了杂志社所评比的“当月真正男人”奖项和500美元。他在杂志上的照片吸引到了摄影师吉米·法兰奇，两年后法拉奇为他拍摄了COLT日历的图片。他在不久后其就为All Worlds Video拍摄电影，他成为了20世纪九十年代最有名的㚻片演员之一，他还作为嘉宾登上过美国的脱口秀节目的舞台
2002年秋，海灵顿的第一个孩子出生，那时他仍然偶尔的在美国的几家同性俱乐部中表演“猛男秀”。2008年，海灵顿宣布从电影界中隐退，并在其亲戚的一家建筑公司内上班。
但这并不意味这比利海灵顿“哲学”事业的终结，在那之后虽然未拍新片，不过经常参与到相关的诸多活动之中。</string>
		<key>title_from</key>
		<string>比利海灵顿</string>
		<key>desc</key>
		<string>大哲学家</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>num1</string>
		<key>title</key>
		<string>PTHospital.chrome 一个莆田系医院网站提醒的浏览器插件，对于莆田系无良网站，将显示红色警告提示，并给出它的医院名字和医院电话。 Git地址：https://github.com/hustcc/PTHospital.chrome 安装地址 下载本代码...</string>
		<key>title_from</key>
		<string>https://segmentfault.com/blogs//aTool_org</string>
		<key>desc</key>
		<string>莆田系医院网站提醒（Chrome 插件）</string>
	</dict>
</array>
</plist>
